<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>list</title>
        <link rel="stylesheet" href="/css/basket.css">
    </head>
    <body>
        <h2>買い物かご</h2>
        <ul class="item-total-container">
            <% Object.keys(itemTotal).forEach(function (itemname) { %>
                <% itemlist.forEach(function (item) { %>
                    <% if (item.itemname===itemname) { %>
                        <li class="item-total">
                            <div class="itemdeta">
                                <% item.images.forEach(function (image) { %>
                                    <div class="item-img">
                                        <img src="<%= image %>">
                                    </div>
                                    <% }); %>
                                        <div class="item">
                                            <p><%= itemname %></p>
                                            <p>合計金額: <%= itemTotal[itemname] %>円</p>
                                            <p>数量合計: <%= itemCounts[itemname] %></p>
                                            <p class="deletes"><a href="/basket/delete/<%= itemname %>">削除</a></p>

                                        </div>
                            </div>
                        </li>
                        <% } %>
                            <% }); %>
                                <% }); %>
        </ul>
        <p class="total"><span>合計金額</span>: <%= total %>円</p>
        <a href="/">&lt;トップに戻る</a>
    </body>
</html>
