<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SHOP</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <h2>shop</h2>
            <ul>
                <% itemlist.forEach(function (value){ %>
                    <li>
                        <div class="item">
                            <a href="/list/<%= value.itemname %>">
                        <p class="itemname"><%= value.itemname %></p>
                        <img src="<%= value.images.split(",")[0] %>" alt="image">
                      </a>
                            
                            <p class="averagerating">平均評価: <%= value.averagerating %></p>
                            <p class="reviewcount">レビュー数: <%= value.reviewcount %></p>
                        </div>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </body>
</html>
